@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    scrollbar-arrow-color: chartreuse;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #8062D6;
    --second-bg-color: rgb(246, 239, 239);
    --third-bg-color: #071952;
    --text-color: black;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--third-bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    background: linear-gradient(125deg, #153677, #4e085f);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10rem 9% 2rem; */
}

.to-do-container{
    width: 100%;
    max-width: 55rem;
    /* background: var(--second-bg-color); */
    background: transparent;
    border-radius: 2rem;
    border: 0.08rem solid var(--main-color);
    padding: 1rem 2rem 2rem 2rem;
    box-shadow: 0 0 2rem .4rem var(--main-color);
    overflow: hidden;
}

.to-do-app h2{
    font-size: 2rem;
    color: chartreuse;    
}

.data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--second-bg-color);
    border-radius: 2rem;
    padding: 0 0 0 1rem;
    margin: 2rem 0 2rem 0;
}

.data #input-box{
    flex: 1;
    font-size: 1.7rem;
    background: var(--second-bg-color);
}

.data #btn{
    font-size: 1.9rem;
    padding: 0 2rem 0 2rem;
    background: orangered;
    border-radius: 2rem;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    color: var(--second-bg-color);
}

.list-container li{
    position: relative;
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
    padding: 1.5rem 0 2rem 2rem;
    margin: 0 0 0 3rem;
    color: var(--second-bg-color);
    
}

.list-container li::before{
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-image: url('./images/unchecked-icon.svg');
    background-size: cover;
    background-position: center;
    top: 2rem;
    left: -1rem;
    cursor: pointer;
}

.list-container li.checked{
    text-decoration: line-through black;
}

.list-container li.checked::before{
    background-image: url('./images/checked-icon.svg');
    cursor: pointer;
}

ul li span{
    position: absolute;
    padding: 0 0 4rem .25rem;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

ul li span:hover{
    background: var(--main-color);
    border-radius: 50%;
    color: var(--third-bg-color);
}
